.scroll-hidden{
    opacity: 0;
    filter:blur(5px);
    transition: all 1s;
}


.scroll-show{
 opacity: 1;
 filter:blur(0);
}


.scroll-slide-hidden{
    opacity: 0;
    filter:blur(5px);
    transform:  translateX(-100%);
    transition: all 1s;
}

.scroll-slide-show{
    opacity: 1;
    filter:blur(0);
    transform: translateX(0);
}

.trans-delay-1{
    transition-delay: 200ms;
}


.trans-delay-2{
    transition-delay: 400ms;
}

.trans-delay-3{
    transition-delay: 600ms;
}
@media(prefers-reduced-motion){
    .scroll-hidden, .scroll-slide-hidden{
        transition:none;
    }
}

#preloader{
    background:#fff url(../images/loaderpt2.gif) no-repeat center center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
